# Segmenting and Clustering Neighbourhoods in Toronto

Importing libraries

In [68]:
import numpy as np
import pandas as pd
import requests

1.   Extracted the HTML page of the wikipedia page and converted the HTML list into Pandas DataFrame.
2.   Removed the items that do not have boroughs and reset the indices.

In [69]:
wiki_page=requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')

raw__neighbourhood_data=pd.read_html(wiki_page.content, header = 0)[0]
raw__neighbourhood_data = raw__neighbourhood_data[raw__neighbourhood_data['Borough'] != "Not assigned"]
neighbourhood_data = raw__neighbourhood_data.reset_index(drop=True)

Upon analysis, it was found that :

1.   There were no postal codes for which boroughs were assigned and neighbourhoods were not so skipped that part.
2.   There were no duplicate postal codes and neighbourhoods were already combined with comma separated values, so skipped that part also.
3.   Printed the shape of the data.

In [88]:
neighbourhood_data.shape

(103, 3)



1.   Downloaded the csv data from the link given.
2.   Printed the first five items of the geolocation data.

In [84]:
geo_data=pd.read_csv('http://cocl.us/Geospatial_data')
geo_data.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Checked the data types and the shape of the geolocation data

In [89]:
print(geo_data.dtypes)
print(geo_data.shape)

Postal Code     object
Latitude       float64
Longitude      float64
dtype: object
(103, 3)

Merged the geolocation and neighbourhood data according to the column 'Postal Code'.

In [90]:
final_data = neighbourhood_data.join(geo_data.set_index('Postal Code'), on='Postal Code')
final_data

    Postal Code           Borough  ...   Latitude  Longitude
0           M3A        North York  ...  43.753259 -79.329656
1           M4A        North York  ...  43.725882 -79.315572
2           M5A  Downtown Toronto  ...  43.654260 -79.360636
3           M6A        North York  ...  43.718518 -79.464763
4           M7A  Downtown Toronto  ...  43.662301 -79.389494
..          ...               ...  ...        ...        ...
98          M8X         Etobicoke  ...  43.653654 -79.506944
99          M4Y  Downtown Toronto  ...  43.665860 -79.383160
100         M7Y      East Toronto  ...  43.662744 -79.321558
101         M8Y         Etobicoke  ...  43.636258 -79.498509
102         M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]